*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.bcf
*-blx.bib
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.xdv
*.tex.syncdb
*.synctex(busy)
.smc
.viminfo
.DS_Store

*.tex.lock

.config
.dropbox
.nano
*Icon*

embedding_theorem_lattice.pdf
embedding_theorem.pdf

*/sandbox.pdf
sandbox.pdf

.gitconfig
.bash_history
.bash_profile
.bashrc
.cache/
.forever/
.smc/
.snapshots/
.ssh/
*.term
*.nav
*.snm